version: '3.9'

services:
  postgres:
    image: postgres:16
    container_name: dj_curso_pg
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5435:5432"
    volumes:
      - dj_curso_pg_data:/var/lib/postgresql/data

volumes:
  dj_curso_pg_data:
